

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.loginBar {
	display: none;
	z-index: 5;
	margin: 0 auto 0 auto;
	width: 522px;
    padding-bottom: 20px;
}

.login { position: relative; left: -185px;}
.email { width: 50%; }
.authCode { width: 35%; visibility: hidden; }
.navbar { z-index: 1; }

.modal-dialog { width: 375px; }

/* Elipsis animation (Processing...) */
.ellipsis {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis 2s infinite;
    -moz-animation: ellipsis 2s infinite;
}
@-webkit-keyframes ellipsis {
    from {
        width: 2px;
    }
    to {
        width: 12px;
    }
}
@-moz-keyframes ellipsis {
    from {
        width: 2px;
    }
    to {
        width: 12px;
    }
}








