

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.loginBar {
	display: none;
	z-index: 5;
	margin: 0 auto 0 auto;
	width: 522px;
}

.login { position: relative; left: -220px;}
.authCode { visibility: hidden; }
.navbar { z-index: 1; }

/* Elipsis animation (Processing...) */
.ellipsis {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis 2s infinite;
    -moz-animation: ellipsis 2s infinite;
}
@-webkit-keyframes ellipsis {
    from {
        width: 2px;
    }
    to {
        width: 12px;
    }
}
@-moz-keyframes ellipsis {
    from {
        width: 2px;
    }
    to {
        width: 12px;
    }
}








